/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin: 0;
}


body {
    display: flex;
    justify-content: center;
}

.main-container{
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
/* Partie commune */

header,.main-container,.section-info,.activité,.filter-bar,.hebergement-populaire,.hebergements-card,.activite-cards img,.hebergements-cards img{
    width: 100%;
}

header,.navbar,.button,.btn1,.btn2,.filter-bar,.zonefiltres,.info-bar,.hebergement-populaire,.hebergements-cards,.activite-cards,.navfooter{
    display: flex;
    flex-direction: row;
}

.section-info,.card-content,.zonetxt,.activité,.main-container {
    display: flex;
    flex-direction: column;
}

.zonetxt a, .zonefiltres a ,.card-subtitle,.card-title,.filter-bar span,.navlinks,.mapicon i{
    color: black;
}

.headline p,.navlinks,.filter-bar span,.zonetxt a,.zonefiltres a{
    font-size: 16px;
}

/* style du header */
header {
    max-width: 1440px;
    height: 97px;
    justify-content: space-between;
}

.logo img {
    width: 61px;
    height: 19px;
    padding-top: 30px;
}

.navbar {
    justify-content:flex-end;
    width: 344px;
    height: 35px;
}

.button {
    align-items: center;
    height: 35px;
    gap: 68px;
}

.btn1,.btn2 {
    height: 35px;
    border-top: solid 3px;
    border-color: transparent;
}

.btn1:hover,.btn2:hover {
    border-top: solid 3px;
    border-color: #0065fc;
}

.navlinks {
    font-weight: 400;
    margin-top: 18px;
}

.navlinks:hover {
    color: #0065fc;
}

 /* Style de la partie info */

.section-info {
    gap: 35px;
}

.headline p {
    font-weight: 400;
    line-height: 35px;
}

/* Style de la section recherche */
form {
    display: flex;
    width:100%;
}

.search-input {
    width: 195px;
    height: 49px;
    border: solid #F2F2F2 1px;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
}

.search-btn {
    width: 132px;
    height: 49px;
    border: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.search-btn-phone{
    width:  49px;
    height: 49px;
    border: 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065fc;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.search-btn-phone i {
    color: white;
}

.mapicon {
    display: flex;
    width: 50px;
    height: 49px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
}
/* Style de la section filtres */

.filter-bar {
    height: 50px;
    gap: 15px;
    align-items: center;
}

.zonefiltres { 
    flex-wrap: wrap ;
    gap: 15px;
}

.filter-bar span {
    font-size: 18px;
    font-weight: 700;
}

.filtre {
    border: 2px solid #D9D9D9;
    padding: 15px;
    border-radius:25px;
    display: flex;
    gap: 10px;
}


.filtre i {
    color: #0065fc;
    font-weight: 900;

}

.filtre:hover {
    background-color: #deebff;
}

/* Style Info bar */

.info-bar {
 align-items: center;
 gap: 15px;
 margin-bottom: 35px;
}

.info-icon {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-icon i {
    color: #0065fc;
}

/* Hebergement et populaire */

.hebergement-populaire {
    gap: 40px;
}

.hebergement-populaire section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    gap: 30px;
}

.hebergement-populaire .card-subtitle {
    margin: 0%;
}
.card {
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background-color: white;
}
.card img {
    object-fit: cover;
}

.euro {
    font-weight: 700;
}

.fa-solid {
    color: #0065fc;
}

.neutral-star {
    color: #F2F2F2;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
/* Hebergement*/

.hebergement {
    width: 65% ;
    background-color: #F2F2F2;
}

.hebergements-cards {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.hebergements-cards a {
    width: 30.8%;
}

.hebergements-cards .card {
    padding: 5px;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    gap: 8px;
}

.Affichertxt {
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}
/* Populaire */

.populaires {
    width: 32%;
    background-color: #F2F2F2;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    padding: 5px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}


.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Style section activité */

.activité {
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activite-title {
    padding-left: 30px;
}

.activite-cards {
    padding-left: 30px;
    padding-right: 30px;
    gap: 30px;
}

.activite-cards a {
    width: 23%;
}

.activite-cards img {
    height: 355px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activite-cards .card-content {
    height: 55px;
    justify-content: center;
    padding-left: 10px;
    padding-bottom: 10px;
}
 
/* Style du footer */

footer {
    background-color:rgba(242, 242, 242, 1);
}

.navfooter {
    padding-top: 15px;
    padding-left: 20px;
    gap: 30px;
}
.zone {
  width: 100%;
  height: 163px;
}
.zonetxt  {
    gap: 15px;
}
.zonetxt a {
    font-weight: 400;
}


/* Version responsive (media queries) */

@media screen and (max-width: 1422px) and (min-width: 1025px){
    .hebergements-cards a {
        width: 47%;
    }

}

@media screen and (max-width: 1122px) {
    .activite-cards .card {
        height: 270px;
    }
    
    .activite-cards {
        flex-wrap: nowrap;
    }
    
    
    .activite-cards img {
        height: 190px;
    }
    
    .activite-cards a {
        width: 25%;
    }
    
}
/* (less/equal than 1024px) */

@media screen and (max-width: 1024px) {

.filter-bar {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
}

.hebergement-populaire {
    flex-direction: column;
}

.hebergement,.hebergements-card img {
    width: 100%;
}

.hebergements-card a {
    width: 30.8%
}

.populaires {
    width: 100%;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards a {
    width: 30%;
}

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}

}



@media screen and (max-width: 963px) {
    .hebergements-cards  {
        gap: 25px;
    }
}

@media screen and (max-width: 920px){

    .activite-cards {
        flex-wrap: wrap;
    }

    .activite-cards a {
        width: 30%;
    }

    .hebergements-cards {
        gap: 30px;
    }

    .hebergements-cards a {
        width: 47%;
    }

}

@media screen and (max-width: 780px) {
    .filter-bar{
        margin-bottom: 95px;
    }
}

@media screen and (max-width: 772px){
    .activite-cards {
        flex-wrap: wrap;
    }

    .activite-cards a {
        width: 47%;
    }

    .activite-cards img {
        height: 200px;
    }
}


/*Ecran téléphone (plus petit ou egal a 768px ) */

@media screen and (max-width: 768px) {

    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        gap: 20px;
    }

    .navbar {
        width: 100%;
        justify-content: center;
    }

    .button {
        width: 100%;
        justify-content: center;
        gap: 0%;
    }

    .btn1,.btn2 {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #D9D9D9;
        padding-bottom: 20px;
    }

    .btn1:hover,.btn2:hover {
        border-bottom: solid 3px;
        border-top: none;
        border-color: #0065fc;
        padding-bottom: 20px;
    }

    .section-info {
        margin-top: 30px;
        width: 90%;
        padding: 0 5%;
        gap: 30px;
    }

    .search {
        margin-right: 20px;
    }

    .search-input {
        width: 80%;
    }
    
    .search-btn {
        display: none;
    }

    .search-btn-phone {
        display: flex;
    }

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
        width: 100%;
    }

    .zonefiltres {
        margin-left: 20px;
        margin-right: 20px;
    }

    .filtre {
        width: 43%;
        justify-content: center;
    }

    .info-bar {
        margin-top: 65px;
    }


    .hebergement-populaire {
        width: 100%;
        flex-direction: column-reverse;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergement {
        background-color: transparent;
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements-cards a{
        width: 48.5%;
    }

    
}
@media screen and (max-width: 717px){
    .filtre {
        width: 38%;
    }
}

@media screen and (max-width: 647px) {

    .search-input {
        width:75%;
    }
}
 

@media screen and (max-width: 574px) {

    .hebergements-cards a{
        width: 100%;
    }
 
    .populaires-cards,footer,.activite-cards{
        flex-direction: column;
    }
    
    .activite-cards a {
        width: 100%;
    }

    .activite-cards img {
        height: 200px;
    }

    .navfooter{
        flex-direction: column;
        gap: 0;
    }

}



@media screen and (max-width: 445px){
    .filter-bar {
        margin-bottom: 160px;
    }
    .zonefiltres {
        gap: 10px;
    }
    
    .filtre {
        width: 80%;
    }
    
}
/* (plus petit ou egal a 365px ) */

@media screen and (max-width: 320px) {
    .search-input {
        width: 160px;
    }
    .search {
        margin-left: 10px;
    }
}